.formularioCrearCuenta {
    max-width: 600px;
    width: 95%;
    margin: 5rem auto 0 auto;
}


fieldset{
    margin:2rem 0;
    border: 1px solid #e1e1e1;
    font-size: 2rem;
    padding: 2rem;
}

.campo {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.campo label {
    flex: 0 0 15rem;
    font-size: 1.8rem;
}
.campo input,textarea {
    flex: 1;
    padding: 1rem;
}

.textarea {
    height: 40rem;

}

.InputSubmit {
    background-color: var(--naranja);
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color:#FFF;
    font-size: 1.8rem;
    text-transform: uppercase;
    border: none;
    font-family:'PT Sans', sans-serif ;
    font-weight: 700;
}
.InputSubmit:hover{
    cursor: pointer;
}

.formularioCrearCuenta h1 {
    text-align: center;
    margin-top: 5rem;
}

.error {
    background-color: red;
    padding: 1rem;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
  
}