
.navegacion {
    padding-left: 2rem;

}
.enlace {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--gris2);
    font-family: 'PT Sans', sans-serif ;
}

.enlace:last-of-type{
    margin-right: 0;
}
