

.producto h1 {
    text-align: center;
    margin-top: 5rem;
}

.contenedor-producto {
   display: grid; 
   @media (min-width:768px) {
     display: grid;
     grid-template-columns: 2fr 1fr ;
     column-gap: 2rem;
   }
}

.productoH2 {
  margin: 2rem 0;
}

.productoParrafo {
  margin-top: 5rem;
  text-align: center;
}
